# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore local data files
data/
results/
output/
*.csv
*.tsv

# Ignore editor/IDE files
.vscode/
.idea/

# Ignore Jupyter auto-saves
.ipynb_checkpoints/
